<h1>Case Books</h1>

<p>Introduction about the case books?</p>


<ol class="case-books">
  <% @case_books.each do |case_book| %>
    <li>
      <%= link_to record_path(case_book) do %>
        <% image = case_book.images.where(page_type: 'Spine').last ||
          case_book.images.where(page_type: 'Front Cover').last ||
          case_book.images.order(:sequence).last
         %>
        <%= image_tag spine_image_path(case_book.id, image.id) %>
      <% end %>
    </li>
  <% end %>
</ol>