<h1>Index for <%= link_to "Volume #{@record.volume}", record_path(@record) %></h1>


<ol class="toc">

  <% @images.each do |image| %>

    <li>
      <%= link_to "#{image.left_page.upcase} – #{image.right_page.upcase}", record_index_page_path(@record, image) %>
    </li>
  <% end %>

</ol>