
<h1>Patient Records</h1>

<form>
  <input type="search" name="name" value="<%= @name_search %>">
  <button type="submit">Search</button>
</form>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of stays</th>
    </tr>
  </thead>


  <% @patients.each do |patient| %>

    <tr>
      <td><%= link_to patient.name, patient %></td>
      <td><%= patient.stays_count %></td>
    </tr>

  <% end %>

</table>