

body {
  font-family: sans-serif;
  padding: 1em;
}

* {
  box-model: border-box;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #EEE;
  padding: 4px;
}

img {
  max-width: 100%;
}

nav {
  display: block;
  margin: 1em 0;
  text-align: center;
}

input[type=search] {
  font-size: 1em;
}

button {
  font-size: 1em;
  border: 1px solid #CCC;
  background-color: transparent;
  -webkit-appearance: none;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

tr.highlighted {
  background-color: yellow;
}

.toc {
  padding-left: 0;
}

.toc ol {
  padding-left: 1em;
}

.toc, .toc ol {
  list-style-type: none;
}

.patients .name {
  min-width: 300px;
}